span.badge.new:after {
	content: "";
}
.secondary-content {
	margin-top: -40px;
	margin-right: 10px; 
}
.collection a.collection-item  {
	color: #aa3333;
}
.btn.secondary-content {
	background-color: #353535;
}
.eldars1 {
	background-image: url("images/eldars1.png");
	background-position-y: 1000px;
	background-position-x: -180px;
}
.da1 {
	background-image: url("images/da1.jpg");
	background-position-y: -120px;
	background-position-x: 280px;
	background-repeat-x: no-repeat;
}
.da2 {
	background-image: url("images/da2.jpg");
	background-position-y: -320px;
	background-position-x: 280px;
	background-repeat-x: no-repeat;
	background-color: #eee;
}
.csm1 {
	background-image: url("images/csm1.jpg");
	background-position-y: -80px;
	background-position-x: 380px;
	background-repeat-x: no-repeat;
}
.csm2 {
	background-image: url("images/csm2.jpg");
	background-position-y: -20px;
	background-position-x: 100px;
	background-repeat-x: no-repeat;
}
.necrons1 {
	background-image: url("images/necrons1.jpg");
	background-position-y: -120px;
	background-position-x: 320px;
	background-repeat-x: no-repeat;
} 
